@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "In Demand: Home";
}
<h1>Caleb Siebach</h1>
<img src="img/rock_climbing.jpg" />
<p>
    My first technical interview involved me looking at some c# code. I hope that in this class<br />
    <a href="index.html">index.html</a>
    I will be able to gain the skills to pass such tests in the future. I want to strengthen<br />
    my web development skills, my knowledge of object-oreinted programming as well as another strongly <br />
    typed language. I am hoping to learn, and to learn alot :)
</p>
<br />

<h2>Ocupational hopes:</h2>
<ol>
    <li>
        Product Management
    </li>
    <li>
        Data Scientist
    </li>
    <li>
        Entrepreneur / Full Stack Developer
    </li>
</ol>
<p>(So Basically everything. Maybe a proffesor. Maybe.)</p>